*.class
*.iml
*.log
.DS_STORE
.bsp/
.cache
.classpath
.history/
.idea/
.idea_modules/
.project
.settings
RUNNING_PID
boot/
dist/
logs/
out/
project/boot/
project/target/
projectFilesBackup/
target/
tmp/
version.properties
